# Assignment/Task 10

## GO_STP_2
## Prateek Paul

**Q - What is One-Hot Encoding in Python with Pandas | How to use Pandas get_dummies to Create Dummy Variables**

---
Discuss the concept of One-Hot-Encoding, Multicollinearity and the Dummy Variable Trap.  What is Nominal and Ordinal Variables ?

Salary Dataset of 52 professors having categorical columns. Apply dummy variables concept and one-hot-encoding on categorical columns.

Dataset Link- [Click here](https://data.princeton.edu/wws509/datasets/salary.dat)


---

**1.  What is Nominal and Ordinal Variables  ?**

---



 **Nominal variable** :- nominal variable is a type of variable that is used to name, label or categorize particular attributes that are being measured. It takes qualitative values representing different categories, and there is no intrinsic ordering of these categories.
You can code nominal variables with numbers, but the order is arbitrary and arithmetic operations cannot be performed on the numbers. 

A nominal variable is one of the 2 types of categorical variables and is the simplest among all the measurement variables. Some examples of nominal variables include gender, Name, phone, etc.



**Ordinal variable :-**
Ordinal variable is a type of measurement variable that takes values with an order or rank. It is the 2nd level of measurement and is an extension of the nominal variable.
They are built upon nominal scales by assigning numbers to objects to reflect a rank or ordering on an attribute. Also, there is no standard ordering in the ordinal variable scale. 

In another sense, we could say the difference in the rank of an ordinal variable is not equal. It is mostly classified as one of the 2 types of categorical variables, while in some cases it is said to be a midpoint between categorical and numerical variables.

**2. Discuss the concept of one hot encoding,  Multicollinearity and the Dummy variable trap**


---


**One hot encoding** 

* is one method of converting data to prepare it for an algorithm and get a better prediction.

*  With one-hot, we convert each categorical value into a new categorical column and assign a binary value of 1 or 0 to those columns.

* Each integer value is represented as a binary vector.
* All the values are zero, and the index is marked with a 1.
* One hot encoding makes our training data more useful and expressive, and it can be rescaled easily. By using numeric values, we more easily determine a probability for our values. In particular, one hot encoding is used for our output values, since it provides more nuanced predictions than single labels.

**Multicollinearity**

* Multicollinearity is the occurrence of high intercorrelations among two or more independent variables in a multiple regression model. 

* Multicollinearity can lead to skewed or misleading results when a researcher or analyst attempts to determine how well each independent variable can be used most effectively to predict or understand the dependent variable in a statistical model.

**Dummy varible trap**
* Dummy Variable Trap as the outcome of one variable can easily be predicted with the help
of the remaining variables.
* Dummy Variable Trap is a scenario in which variables are highly correlated to each other.
* The Dummy Variable Trap leads to the problem known as Multicollinearity. Multicollinearity occurs where there is a dependency between the independent features.




---

In [5]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_table('salary.txt',delim_whitespace = True)
df.head()

       sx    rk  yr         dg  yd     sl
0    male  full  25  doctorate  35  36350
1    male  full  13  doctorate  22  35350
2    male  full  10  doctorate  23  28200
3  female  full   7  doctorate  27  26775
4    male  full  19    masters  30  33696

In [8]:
df.dtypes

sx    object
rk    object
yr     int64
dg    object
yd     int64
sl     int64
dtype: object

In [9]:
df.columns

Index(['sx', 'rk', 'yr', 'dg', 'yd', 'sl'], dtype='object')

In [10]:
 df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sx      52 non-null     object
 1   rk      52 non-null     object
 2   yr      52 non-null     int64
 3   dg      52 non-null     object
 4   yd      52 non-null     int64
 5   sl      52 non-null     int64
dtypes: int64(3), object(3)
memory usage: 2.6+ KB

In [11]:
#get_dummies()
#pandas.get_dummies() is used for data manipulation.
# It converts categorical data into dummy or indicator variables

pd.get_dummies(df,columns = ['sx','rk','dg']).head()

,yr,yd,sl,sx_female,sx_male,rk_assistant,rk_associate,rk_full,dg_doctorate,dg_masters
0,25,35,36350,0,1,0,0,1,1,0
1,13,22,35350,0,1,0,0,1,1,0
2,10,23,28200,0,1,0,0,1,1,0
3,7,27,26775,1,0,0,0,1,1,0
4,19,30,33696,0,1,0,0,1,0,1

In [12]:
pd.get_dummies(df,columns = ['sx','rk','dg'],drop_first=True).head()

   yr  yd     sl  sx_male  rk_associate  rk_full  dg_masters
0  25  35  36350        1             0        1           0
1  13  22  35350        1             0        1           0
2  10  23  28200        1             0        1           0
3   7  27  26775        0             0        1           0
4  19  30  33696        1             0        1           1

In [13]:
#OneHotEncoding

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
columnTransformer = ColumnTransformer([('encoder',
OneHotEncoder(),
[0,1,3])],
remainder='passthrough')
data = np.array(columnTransformer.fit_transform(df), dtype = str)
print(data[:5])

[['0.0' '1.0' '0.0' '0.0' '1.0' '1.0' '0.0' '25.0' '35.0' '36350.0']
 ['0.0' '1.0' '0.0' '0.0' '1.0' '1.0' '0.0' '13.0' '22.0' '35350.0']
 ['0.0' '1.0' '0.0' '0.0' '1.0' '1.0' '0.0' '10.0' '23.0' '28200.0']
 ['1.0' '0.0' '0.0' '0.0' '1.0' '1.0' '0.0' '7.0' '27.0' '26775.0']
 ['0.0' '1.0' '0.0' '0.0' '1.0' '0.0' '1.0' '19.0' '30.0' '33696.0']]